@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 252 99% 61%;
    /*--primary: 222.2 47.4% 11.2%; */
    --primary-foreground: 210 40% 98%;


    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --border: 0 0% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#FAFAFA] text-foreground font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
  }

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom scrollbar */
.custom-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.custom-scrollbar:hover {
  scrollbar-color: #00000033 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #E5EBEE;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #E5EBEE;
  border-radius: 10px;
}

.main-layout {
  display: grid;
  grid-template-areas:
    "nav nav"
    "left_preview right_editor"
  ;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 5fr 8fr;
  column-gap: 1rem;
  width: 100%;
  height: calc(100vh - 1rem);
}

.main-layout__navbar {
  grid-area: nav;
}

.main-layout__left-preview {
  grid-area: left_preview;
}

.main-layout__right-editor {
  grid-area: right_editor;
}